<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sazdegra Portfolio</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Sazdegra Printmaking Personal Portfolio, made in AngularJS, contact form for messages" />
  <meta name="keywords" content="Sazdegra, Portfolio, Printmaking, contact, contatti, AngularJS, Personal Portfolio"/>
  <link rel="icon" type="image/x-icon" href="foto/favicon.ico" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Kufam&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101308796);</script>
  <script async src="//static.getclicky.com/js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-app="myApp" ng-controller="ctrlForm">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="brand navbar-brand" href="index.html">Sara DG</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="index.html">Home</a></li>
        <li><a href="contatti3.html">CONTACT</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="titolo">
  <div class="container text-left">
    <h1>Contact</h1>      
  </div>
</div><br>
<div class="container-fluid text-left">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-6 col-xs-12">
      <div  id="form">Contact me by filling out the form below and I will get back to you soon...</div>
      <form method="POST" action="https://formspree.io/f/mknpadkz" id="contatti" name="form" id="contattami" ng-submit="send()" novalidate>
        <label>Name *</label><br>
        <input type="text" name="nome" ng-model="nome" required>
          <span style="color:red" ng-show="form.nome.$error.required">Name is required.</span><br>

        <label>Email *</label><br>
        <input type="email" name="email" ng-model="email" ng-pattern="/^[a-z0-9A-Z._-]+@[a-z0-9A-Z._-]+\.[a-z]{2,4}$/" required>
        <span style="color:red" ng-show="form.email.$error.required">Email is required.</span>
        <span style="color:red" ng-show="form.email.$error.pattern && form.email.$dirty">Email is invalid.</span><br>

        <label>Subject *</label><br>
        <input type="text" name="titolo" ng-model="titolo" required><br>

        <label>Message * </label><br>
        <textarea name="commento" rows="6" cols="30" ng-model="commento" required></textarea>
        <br>

        <input class="submit" type="submit" value="Submit" ng-model="button" ng-disabled="form.nome.$invalid || form.nome.$pristine || form.email.$invalid || form.email.$error.email || form.titolo.$invalid || form.commento.$invalid" disabled>
        <span ng-show="success">  Success</span>
        <span ng-show="error">  Please fill the required fields</span>
     </form>
    </div>
  </div>
</div><br><br>
<footer class="container-fluid text-center">
  <a href="https://www.instagram.com/sazdegra/
"><img class="social" src="foto/instagram-4-xl.png" alt="instagram" height="50"></a><br>
<span>Turin, Italy<br></span>
  <span>© 2021 Sara De Grandis</span><br>
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/80x15.png" /></a><br/><span  style="font-size:10px; color:#D3D3D3">This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a></span>
</footer>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="myapp.js"></script>
</body>
</html>
